<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="todo" ng-controller="MainCtrl">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-top tabs-positive">
            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="About" icon="ion-ios-information" href="#/calc">
                <ion-nav-view name="about-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Contact" icon="ion-ios-world" href="#/contact">
                <ion-nav-view name="contact-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </script>
    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home">
            <ion-content class="padding">
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/calc">Test</a>
                </p>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/calcView">Start Game</a>
                </p>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/calc.html" type="text/ng-template">
        <ion-view view-title="Calc">
            <ion-content class="padding">
                <h2 class="title">Greg Chang</h2>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/contact">Contact</a>
                </p>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/contact.html" type="text/ng-template">
        <ion-view view-title="Calc">
            <ion-content class="padding">
                <h2 class="title">Stuff</h2>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/">Home</a>
                </p>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/calcView.html" type="text/ng-template">
        <ion-view view-title="Calc">
            <ion-content class="padding">
                <div class="calc">
                    <div class="row calc-question-container">
                        <div class="col col-66 text-center calc-question">
                            {{calcQuestionString}}
                        </div>
                    </div>
                    <div class="row calc-display-container">
                        <div class="col col-66 text-center calc-display">
                            {{calcValueString}}
                        </div>
                    </div>
                    <div class="calc-buttons">
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(1)">
                                    1
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(2)">
                                    2
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(3)">
                                    3
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(4)">
                                    4
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(5)">
                                    5
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(6)">
                                    6
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(7)">
                                    7
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(8)">
                                    8
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(9)">
                                    9
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-assertive" ng-click="calcDisplayUpdate('clear')">
                                    <i class="icon ion-close-round"></i>
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(0)">
                                    0
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-balanced" ng-click="calcDisplayUpdate('submit')">
                                    <i class="icon ion-checkmark-round"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>
</body>
<!-- <body ng-app="todo" ng-controller="TodoCtrl">
    <div>
        <div>
            <ion-nav-bar class="bar-dark">
                <ion-nav-back-button></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view scroll="false">
                <div class="calc">
                    <div class="row calc-question-container">
                        <div class="col col-66 text-center calc-question">
                            {{calcQuestionString}}
                        </div>
                    </div>
                    <div class="row calc-display-container">
                        <div class="col col-66 text-center calc-display">
                            {{calcValueString}}
                        </div>
                    </div>
                    <div class="calc-buttons">
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(1)">
                                    1
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(2)">
                                    2
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(3)">
                                    3
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(4)">
                                    4
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(5)">
                                    5
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(6)">
                                    6
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(7)">
                                    7
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(8)">
                                    8
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(9)">
                                    9
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-assertive" ng-click="calcDisplayUpdate('clear')">
                                    <i class="icon ion-close-round"></i>
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(0)">
                                    0
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-balanced" ng-click="calcDisplayUpdate('submit')">
                                    <i class="icon ion-checkmark-round"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</body>
 -->

</html>
