<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="todo">
    <ion-nav-bar class="bar-positive">
        <!--         <ion-nav-back-button>
        </ion-nav-back-button> -->
        <!--         <ion-nav-buttons side="right">
            <button class="button button-clear">
                <i class="icon ion-checkmark-round"></i>
            </button>
        </ion-nav-buttons> -->
    </ion-nav-bar>
    <ion-nav-view></ion-nav-view>
    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-bottom tabs-positive">
            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="You" icon="ion-person" href="#/user">
                <ion-nav-view name="user-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Settings" icon="ion-android-settings" href="#/settings">
                <ion-nav-view name="settings-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </script>
    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home">
            <ion-content>
                <br>
                <h2 class="title text-center">
            MathFast
            </h2>
                <br>
                <!-- Length slider -->
                <label class="item ">
                    <div class="item-content text-center">Number of Questions: {{lengthValue}}</div>
                    <div class="range range-positive">
                        <i class="icon ion-minus-circled"></i>
                        <input type="range" name="volume" min="10" max="50" value="{{lengthValue}}" step="10" ng-model="lengthValue">
                        <i class="icon ion-plus-circled"></i>
                    </div>
                </label>
                <!-- Difficulty Slider -->
                <label class="item ">
                    <div class="item-content text-center">Difficulty: {{difficultyValue}}</div>
                    <div class="range range-positive">
                        <i class="icon ion-minus-circled"></i>
                        <input type="range" name="volume" min="1" max="5" value="{{difficultyValue}}" ng-model="difficultyValue">
                        <i class="icon ion-plus-circled"></i>
                    </div>
                </label>
                <!-- Operations Selection -->
                <label class="item ">
                    <div id="operations-label" class="item-content text-center">Operations</div>
                    <div class="button-bar">
                        <button ng-class="{'button-outline': operationToggle.add}" class="button button-positive" ng-click="operationToggle.add = !operationToggle.add">
                            +
                        </button>
                        <button ng-class="{'button-outline': operationToggle.subtract}" class="button button-positive" ng-click="operationToggle.subtract = !operationToggle.subtract">
                            -
                        </button>
                        <button ng-class="{'button-outline': operationToggle.multiply}" class="button button-positive" ng-click="operationToggle.multiply = !operationToggle.multiply">
                            &times;
                        </button>
                        <button ng-class="{'button-outline': operationToggle.divide}" class="button button-positive" ng-click="operationToggle.divide = !operationToggle.divide">
                            &divide;
                        </button>
                    </div>
                </label>
                <a class="button button-balanced bottom" href="#/calcView">Start Game</a>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/user.html" type="text/ng-template">
        <ion-view view-title="User">
            <ion-content class="padding">
                <h2 class="title">Greg Chang</h2>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/settings">Settings</a>
                </p>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/settings.html" type="text/ng-template">
        <ion-view view-title="Settings">
            <ion-content class="padding">
                <h2 class="title">Stuff</h2>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/">Home</a>
                </p>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/results.html" type="text/ng-template">
        <ion-view view-title="Results">
            <ion-content class="padding">
                <h2 class="title text-center">Results</h2>
                <div class="results-content">
                    <p>
                        Time: {{calcData.roundedTime}} seconds
                    </p>
                    <!--                 <p>
                    # of Questions: {{calcData.questionsTotal}}
                </p> -->
                    <p>
                        Mistakes: {{calcData.mistakes}}
                    </p>
                    <button class="button button-positive" ng-click="openRecap()">Review Questions</button>
                </div>
                <div class="row operations-buttons-style">
                    <div class="col col-50 text-center">
                        <a class="button button-positive" href="#/calcView">
                            Retry
                        </a>
                    </div>
                    <div class="col col-50 text-center">
                        <a class="button button-positive" href="#/">
                            Home
                        </a>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/calcView.html" type="text/ng-template">
        <ion-view view-title="Calc">
            <ion-content class="padding">
                <div class="calc">
                    <div class="row calc-question-container">
                        <div class="col col-66 text-center calc-question">
                            {{calcQuestionString}}
                        </div>
                    </div>
                    <div class="row calc-display-container">
                        <div class="col col-66 text-center calc-display">
                            {{calcValueString}}
                        </div>
                    </div>
                    <div class="calc-buttons-style">
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(1)">
                                    1
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(2)">
                                    2
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(3)">
                                    3
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(4)">
                                    4
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(5)">
                                    5
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(6)">
                                    6
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(7)">
                                    7
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(8)">
                                    8
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(9)">
                                    9
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate('negativeToggle')">
                                    <div style="font-size:1.8em;">&#x207a;&#x2044;&#x208b;</div>
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(0)">
                                    0
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate('decimal')">
                                    .
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50 text-center">
                                <button class="button button-assertive" ng-click="calcDisplayUpdate('clear')">
                                    <i class="icon ion-close-round"></i>
                                </button>
                            </div>
                            <div class="col col-50 text-center">
                                <button class="button button-balanced" ng-click="calcDisplayUpdate('submit')">
                                    <i class="icon ion-checkmark-round"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="button button-calm">
                                    Hint
                                </button>
                            </div>
                        </div>
                        <!-- <progress max="100" value="80"></progress> -->
                        <!-- <div ng-show="progressPercent > 0"> -->
                        <br>
                        <br>
                        <br>
                        <div class="progress-bar">
                            <div class="loader" style="width: {{progressPercent}}%;">
                                <div class="progress-bar-bar">
                                    <p class="progress-bar-text">{{progressPercent}}%</p>
                                </div>
                            </div>
                        </div>
                        <!-- Calc debug code -->
                        <div id="calc-debug">
                            <h5>Calc Debug</h5>
                            <p>
                                calcQuestionNumberCurrent: {{calcQuestionNumberCurrent}}
                            </p>
                            <p>
                                calcQuestionNumberTotal: {{calcQuestionNumberTotal}}
                            </p>
                            <p>
                                calcQuestionMistakes: {{calcQuestionMistakes}}
                            </p>
                            <div class="text-center">
                                <button class="button button-dark" ng-click="loadingBarLoad(100)">
                                    Skip to end
                                </button>
                            </div>
                            <div class="text-center">
                                <h3>{{counter}}</h3>
                                <button class="button button-dark" ng-click='startTimer()'>Start</button>
                                <button class="button button-dark" ng-click='stopTimer()'>Stop</button>
                                </button>
                            </div>
                        </div>
            </ion-content>
        </ion-view>
    </script>
    <script id="recap.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Review</h1>
                <button class="button button-clear button-positive" ng-click="closeRecap()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content>
                <br>
                <div class="padding">
                    <div ng-repeat="e in calcData.questionLog" class="text-center modal-recap-content" ng-class="recapColor(e[2])">
                        {{e[0]}} = {{e[1]}}
                    </div>
                </div>
            </ion-content>
        </div>
    </script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAmX_xBU-aSgSZ-B-hrw3i8Hg9s23KvZHM",
        authDomain: "mathfast-3bcce.firebaseapp.com",
        databaseURL: "https://mathfast-3bcce.firebaseio.com",
        projectId: "mathfast-3bcce",
        storageBucket: "mathfast-3bcce.appspot.com",
        messagingSenderId: "418145274696"
    };
    firebase.initializeApp(config);
    </script>
</body>

</html>
