<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="lib/Ionicons/css/ionicons.min.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- Path to ionic-toast -->
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
    <!-- Firebase -->
    <!-- <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js"></script> -->
    <script src="lib/firebase/firebase.js"></script>
    <script src="lib/angularfire/dist/angularfire.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <!--     <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script> -->
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAmX_xBU-aSgSZ-B-hrw3i8Hg9s23KvZHM",
        authDomain: "mathfast-3bcce.firebaseapp.com",
        databaseURL: "https://mathfast-3bcce.firebaseio.com",
        projectId: "mathfast-3bcce",
        storageBucket: "mathfast-3bcce.appspot.com",
        messagingSenderId: "418145274696"
    };
    firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.1/firebaseui.css">
    <!--     <script type="text/javascript">
    // FirebaseUI config.
    var uiConfig = {
        // signInSuccessUrl: '<url-to-redirect-to-on-success>',
        signInSuccessUrl: '#/tab/home',
        signInOptions: [
            // Leave the lines as is for the providers you want to offer your users.
            // firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
            // firebase.auth.TwitterAuthProvider.PROVIDER_ID,
            // firebase.auth.GithubAuthProvider.PROVIDER_ID,
            // firebase.auth.EmailAuthProvider.PROVIDER_ID
            {
                provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
                requireDisplayName: false
            }

        ],
        // Terms of service url.
        tosUrl: '<your-tos-url>',
        signInFlow: 'popup',
        credentialHelper: firebaseui.auth.CredentialHelper.NONE
    };

    // Initialize the FirebaseUI Widget using Firebase.
    var ui = new firebaseui.auth.AuthUI(firebase.auth());
    // The start method will wait until the DOM is loaded.
    ui.start('#firebaseui-auth-container', uiConfig);
    </script> -->
</head>

<body ng-app="todo">
    <!-- <ion-nav-bar class="bar bar-positive"> -->
    <!--         <ion-nav-back-button>
        </ion-nav-back-button> -->
    <!--         <ion-nav-buttons side="right">
            <button class="button button-clear">
                <i class="icon ion-checkmark-round"></i>
            </button>
        </ion-nav-buttons> -->
    <!-- </ion-nav-bar> -->
    <ion-nav-view></ion-nav-view>
    <script id="templates/tabs.html" type="text/ng-template">
        <ion-tabs class="tabs-icon-bottom tabs-positive">
            <ion-tab title="Home" icon="ion-home" href="#/tab/home">
                <ion-nav-view name="home-tab"></ion-nav-view>
            </ion-tab>
            <!--             <ion-tab title="Scores" icon="ion-stats-bars" href="#/tab/user">
                <ion-nav-view name="user-tab"></ion-nav-view>
            </ion-tab> -->
            <ion-tab title="Settings" icon="ion-android-settings" href="#/tab/settings">
                <ion-nav-view name="settings-tab"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </script>
    <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home">
            <div class="bar bar-header bar-positive">
                <!-- <button class="button button-icon icon ion-navicon"></button> -->
                <div class="h1 title">MathFast</div>
                <button class="button button-positive" ng-click="openHelp()"> <i class="icon ion-help-circled"></i>
                </button>
            </div>
            <ion-content>
                <br>
                <br>
                <h2 class="text-center" ng-class="{bestTimeText: showSecText}">
                {{bestTime}} <span id="bestTimeSecondsText" ng-show="showSecText">sec</span>
                </h2>
                <p class="text-center">
                    Fastest time with current settings
                </p>
                <!-- Length slider -->
                <label class="item">
                    <div class="item-content text-center">Number of Questions: {{gameSettings.lengthValue}}</div>
                    <div class="range range-positive">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="10" max="50" value="{{gameSettings.lengthValue}}" step="10" ng-model="gameSettings.lengthValue">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </label>
                <!-- Difficulty Slider -->
                <label class="item ">
                    <div class="item-content text-center">Difficulty: Level {{gameSettings.difficultyValue}}</div>
                    <div class="range range-positive">
                        <i class="icon ion-minus-round"></i>
                        <input type="range" name="volume" min="1" max="3" value="{{gameSettings.difficultyValue}}" ng-model="gameSettings.difficultyValue">
                        <i class="icon ion-plus-round"></i>
                    </div>
                </label>
                <!-- Operations Selection -->
                <div class="item ">
                    <div id="operations-label" class="item-content text-center">Operations</div>
                    <div class="button-bar" ng-click="checkStartGameEnabled()">
                        <button ng-class="{'button-outline': !operationToggleValue.add}" class="button button-positive" ng-click="operationToggleValue.add = !operationToggleValue.add">
                            +
                        </button>
                        <button ng-class="{'button-outline': !operationToggleValue.subtract}" class="button button-positive" ng-click="operationToggleValue.subtract = !operationToggleValue.subtract">
                            -
                        </button>
                        <button ng-class="{'button-outline': !operationToggleValue.multiply}" class="button button-positive" ng-click="operationToggleValue.multiply = !operationToggleValue.multiply">
                            &times;
                        </button>
                        <button ng-class="{'button-outline': !operationToggleValue.divide}" class="button button-positive" ng-click="operationToggleValue.divide = !operationToggleValue.divide">
                            &divide;
                        </button>
                    </div>
                </div>
                <a class="button button-balanced bottom" ng-show="startGameEnabled" ng-disabled="!startGameEnabled" ng-click="startGame()">Start Game</a>
                <a class="button button-balanced bottom" ng-hide="startGameEnabled" ng-disabled="!startGameEnabled" ng-click="startGame()">Select Operation(s)</a>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/login.html" type="text/ng-template">
        <ion-view view-title="login-page">
            <ion-content class="padding">
                <div id="firebaseui-auth-container"></div>
                <!--                 <h2 class="title">login</h2>
                <div>
                    <button ng-click="signIn()">Sign In Anonymously</button>
                    <p ng-if="firebaseUser">Signed in user: <strong>{{ firebaseUser.uid }}</strong></p>
                    <p ng-if="error">Error: <strong>{{ error }}</strong></p>
                </div>
                <p>
                    <a class="button icon icon-right ion-chevron-right" href="#/tab/home">Home</a>
                </p> -->
            </ion-content>
        </ion-view>
    </script>
    <!--     <script id="templates/user.html" type="text/ng-template">
        <ion-view view-title="Settings">
            <div class="bar bar-header bar-positive">
                <div class="h1 title">MathFast</div>
                </button>
            </div>
            <ion-content class="padding">
                <br>
                <br>
                <br>
                <div id="clear-data-button">
                    <a class="button button-positive" href="#/">Clear Data</a>
                </div>
            </ion-content>
        </ion-view>
    </script> -->
    <script id="templates/settings.html" type="text/ng-template">
        <ion-view view-title="Settings">
            <div class="bar bar-header bar-positive">
                <div class="h1 title">MathFast</div>
                <!-- <button class="button button-positive" ng-click="openHelp()"> <i class="icon ion-help-circled"></i> -->
                </button>
            </div>
            <ion-content class="padding">
                <br>
                <br>
                <button class="button button-block button-assertive" ng-click="showConfirm()">Clear Scores</button>
                <button class="button button-block button-dark" ng-click="openAbout()">About</button>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/results.html" type="text/ng-template">
        <ion-view view-title="Results">
            <div class="bar bar-header bar-positive">
                <!-- <button class="button button-icon icon ion-navicon"></button> -->
                <div class="h1 title">MathFast</div>
                <button class="button button-positive" ng-click="openResultsHelp()"> <i class="icon ion-help-circled"></i>
                </button>
            </div>
            <ion-content class="padding">
                <!-- <h2 class="title text-center">Results</h2> -->
                <div class="results-content center-vertically">
                    <p>
                        Time: {{calcData.finalTime}} sec
                    </p>
                    <p>
                        Best Time: {{bestTime}} sec
                    </p>
                    <p>
                        Mistakes: {{calcData.mistakes}}
                    </p>
                    <button class="button button-dark" ng-click="openRecap()">Review Questions</button>
                </div>
                <div class="bottom row operations-buttons-style">
                    <div class="col col-50 text-center">
                        <a class="button button-positive" ng-click="changeView('calcView')">
                            Retry
                        </a>
                    </div>
                    <div class="col col-50 text-center">
                        <a class="button button-positive" href="#/tab/home">
                            Home
                        </a>
                    </div>
                </div>
            </ion-content>
        </ion-view>
    </script>
    <script id="templates/calcView.html" type="text/ng-template">
        <ion-view view-title="Calc">
            <div class="bar bar-header bar-positive">
                <!-- <button class="button button-icon icon ion-android-close" ng-click="endGameEarly()"></button> -->
                <div class="h1 title">MathFast</div>
                <button class="button button-icon icon ion-android-close" ng-click="endGameEarly()"></button>
                </button>
            </div>
            <ion-content class="padding">
                <div class="calc">
                    <br>
                    <br>
                    <div class="row calc-question-container">
                        <div class="col col-66 text-center calc-question">
                            {{calcQuestionString}}
                        </div>
                    </div>
                    <div class="row calc-display-container">
                        <div class="col col-66 text-center calc-display">
                            {{calcValueString}}
                        </div>
                    </div>
                    <div class="calc-buttons-style">
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(1)">
                                    1
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(2)">
                                    2
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(3)">
                                    3
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(4)">
                                    4
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(5)">
                                    5
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(6)">
                                    6
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(7)">
                                    7
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(8)">
                                    8
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(9)">
                                    9
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate('negativeToggle')">
                                    <div style="font-size:1.8em;">&#x207a;&#x2044;&#x208b;</div>
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive" ng-click="calcDisplayUpdate(0)">
                                    0
                                </button>
                            </div>
                            <div class="col col-33 text-center">
                                <button class="button button-positive disabled" ng-click="calcDisplayUpdate('decimal')">
                                    .
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50 text-center">
                                <button class="button button-assertive" ng-click="calcDisplayUpdate('clear')">
                                    <i class="icon ion-close-round"></i>
                                </button>
                            </div>
                            <div class="col col-50 text-center">
                                <button class="button button-balanced" ng-click="calcDisplayUpdate('submit')">
                                    <i class="icon ion-checkmark-round"></i>
                                </button>
                            </div>
                        </div>
                        <!--                         <div class="row">
                            <div class="col text-center">
                                <button class="button button-calm" ng-click="openHint()">
                                    Hint
                                </button>
                            </div>
                        </div> -->
                        <br>
                        <br>
                        <br ng-hide="showCorrect || showIncorrect">
                        <div id="correctnessFeedback">
                            <span class="correctText" ng-show="showCorrect">Correct!</span>
                            <span class="incorrectText" ng-show="showIncorrect">Incorrect! +5 sec penalty</span>
                        </div>
                        <br>
                        <div class="progress-bar">
                            <div class="loader" style="width: {{progressPercent}}%;">
                                <div class="progress-bar-bar">
                                    <p class="progress-bar-text">{{progressPercent}}%</p>
                                </div>
                            </div>
                        </div>
                        <!-- Calc debug code -->
                        <!--                         <div id="calc-debug">
                            <h5>Calc Debug</h5>
                            <p>
                                calcQuestionNumberCurrent: {{calcQuestionNumberCurrent}}
                            </p>
                            <p>
                                calcQuestionNumberTotal: {{calcQuestionNumberTotal}}
                            </p>
                            <p>
                                calcQuestionMistakes: {{calcQuestionMistakes}}
                            </p>
                            <div class="text-center">
                                <button class="button button-dark" ng-click="loadingBarLoad(100)">
                                    Skip to end
                                </button>
                            </div>
                            <div class="text-center">
                                <h3>{{counter}}</h3>
                                <button class="button button-dark" ng-click='startTimer()'>Start</button>
                                <button class="button button-dark" ng-click='stopTimer()'>Stop</button>
                            </div>
                        </div> -->
            </ion-content>
        </ion-view>
    </script>
    <script id="recap.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Review</h1>
                <button class="button button-clear button-positive" ng-click="closeRecap()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content>
                <br>
                <div class="padding">
                    <div ng-repeat="e in calcData.questionLog" class="text-center modal-recap-content" ng-class="recapColor(e[2])">
                        {{e[0]}} = {{e[1]}}
                    </div>
                </div>
            </ion-content>
        </div>
    </script>
    <script id="homehelp.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Help</h1>
                <button class="button button-clear button-positive" ng-click="closeHelp()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content>
                <br>
                <div class="padding text-center">
                    <h4><u>Number of Questions</u></h4>
                    <p>
                        Total number of questions per game
                    </p>
                    <br>
                    <h4><u>Difficulty</u></h4>
                    <p>
                        <strong>Level 1</strong>
                    </p>
                    <p>
                        Small numbers
                    </p>
                    <p>
                        <strong>Level 2</strong>
                    </p>
                    <p>Larger numbers</p>
                    <p>
                        <strong>Level 3</strong>
                    </p>
                    <p>
                        Even larger numbers and negative numbers
                    </p>
                    <br>
                    <h4><u>Operations</u></h4>
                    <p>
                        The arithmetic operations you'll practice with
                    </p>
                    <p>
                        Select one or more to start a game
                    </p>
                </div>
            </ion-content>
        </div>
    </script>
    <script id="hint.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Hint</h1>
                <button class="button button-clear button-positive" ng-click="closeHint()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content class="padding">
                <div class="text-center">
                    <p>Don't dawdle, the timer is still running!</p>
                    <br>
                    <div id="hint-content">
                        <p>
                            {{calcQuestionString}}
                        </p>
                        <i class="icon ion-chevron-down"></i>
                        <p>
                            {{hintBreakdownOne}}
                        </p>
                        <i class="icon ion-chevron-down"></i>
                        <p>
                            {{hintBreakdownTwo}}
                        </p>
                    </div>
                </div>
            </ion-content>
        </div>
    </script>
    <script id="resultshelp.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">Help</h1>
                <button class="button button-clear button-positive" ng-click="closeResultsHelp()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content>
                <br>
                <div class="padding text-center">
                    <h4><u>Time</u></h4>
                    <p>
                        Total time spent including penalties
                    </p>
                    <br>
                    <h4><u>Best Time</u></h4>
                    <p>
                        Your fastest time with the current game settings
                    </p>
                    <br>
                    <h4><u>Mistakes</u></h4>
                    <p>
                        Number of incorrect submissions
                    </p>
                    <p>
                        Mistakes incur a 5 second time penalty
                    </p>
                </div>
            </ion-content>
        </div>
    </script>
    <script id="about.html" type="text/ng-template">
        <div class="modal">
            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">About</h1>
                <button class="button button-clear button-positive" ng-click="closeAbout()">Close</button>
            </ion-header-bar>
            <!-- Modal content area -->
            <ion-content>
                <br>
                <div class="padding text-center about-modal-paragraph">
                    <p>
                        Built with love using Ionic framework
                    </p>
                    <br>
                    <p>
                        Send feedback, feature requests, bugs, or anything else pertaining to this app to <strong>gregdevmail@gmail.com</strong>
                    </p>
                    <br>
                    <p>
                        App icon made with assets by Freepik from www.flaticon.com
                    </p>
                </div>
            </ion-content>
        </div>
    </script>
</body>

</html>
