/* Empty. Add your own CSS if you like */
.calc-display {
	background-color: lightgray;
	margin: 0 auto;
	font-size: 200%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	height: 7vh;
	vertical-align: center;
}

.calc-question {
	margin: 0 auto;
	font-size: 200%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	height: 7vh;
	vertical-align: center
}

.calc-display-container {
}

.calc-buttons button {
	width: 80%;
}